{
	"arrowParens": "always",
	"bracketSpacing": false,
	"endOfLine": "auto",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"rangeStart": 0,
	"rangeEnd": null,
	"requirePragma": false,
	"insertPragma": false,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
